
.user_page{
    font-size: 17px;
    font-family: 'VT323', monospace, sans-serif;
    color: #3f3; // hacker green
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    background-image: // skeuomorphism anyone?
      radial-gradient(rgba(#fff, 0.125), rgba(#fff, 0)),
      linear-gradient(to bottom, #000, #000 2px, #111 3px);
      min-height: 970px;
      width: 100%;
    overflow:visible;
    .inner_page{
        img{
            border-radius: 50%;
            border: 2px solid rgb(162, 241, 44);
        }
    }

    .repo{
        width: 50%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 50%);
    }

    .repo_loader{
        width: 100%;
        height: 400px;
        margin-top: 50px;
        background-color: transparent;
    }

    .projects_h1{
        margin: 50px;
    }

    .repo_box{
        color: rgba(51, 255, 51, 0.75);;
        border-radius: 10%;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        word-break: break-word;
        font-size:16px;
        height: 300px;
        width: 400px;
        margin: 20px;
        padding: 10px;
        p{
            text-align: left;
            display: grid;
            grid-template-rows: auto;
        }
    }
  
}